<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二手手機商店</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {%if logIn == False%}
        <h4><a class="navbar-Brand" href="/phone/">二手手機商店</a></h4>
        {%else%}
        <h4><a class="navbar-Brand" href="http://127.0.0.1:8000/phone/?user-account={{uac}}&user-password={{upas}}">二手手機商店</a></h4>
        {%endif%}
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog_list/">部落格列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/youtube/0">Youtube 24小時直播</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newborn111/">111年各縣市新生兒</a>
                </li>
            </div>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>